body {
    margin: 10;
    padding: 10;
    overflow: scroll;


}







.info {

    width: 100%;
    border: solid;
}




.info p {
    text-align: center;
    font-style: oblique;
    color: rgb(156, 33, 33);
}

.state-form {
    float: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px red;
    background-color: rgba(255, 255, 255, 0.5);

}


.state-form button {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: red;
    margin: 5px;

}




.repet {
    height: 100px;
    overflow: scroll;
    justify-content: space-between;
    border: dashed;
}

.repet select {

    width: 10%;
}

.state-form .mess {

    justify-content: space-around;
}

.repet input {
    width: 10%;
}


.i1 img {
    margin-left: 20px;
    width: 10%;
    height: 10%;

}

.state-form input {
    width: 10%;

}
