<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
        {% block head %}{% endblock head %}
</head>
<body>
    
  <div class='background'> 
    <div class='list1'>
         
        <a href='/state'>حالة السكن</a>
        <a href='/family'> الاعمار</a>
        <a href='/hamo'>حامل/مرضع</a>
        
        
    
    </div>
    <div class='list2'>
      <a href='/messages'>الرسائل</a>
      <a href='/child'>مواك أطفال</a>
      <a href='/eaa'>إعاقة</a>
      
  
  </div>
    <div class='list3'>
    <a href='/display'>النتائج</a>
    <a href='/display'>ارسال النتائج</a>

    </div>

     

   {% block body %}
 
 
   {% endblock body %}

  </div>
</body>
</html>