{% extends "base.html" %}
{% block body %}




<div  >
    
    <center><div class="child-form">
        <form action="/child" method="post">
            
                
                
                <input type='radio' name='ch1' value='ذكر' >ذكر</br>
                
                <input type='radio' name='ch1' value='أنثى'>أنثى
                </br>
                
                 
                

                
        
            
        </br> <button type="submit"> التالي</button>
                
            
        </form>
    </div></center>
    
    
</div>



{% endblock body %}



