{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block body %}




<div class="info">
    <center><h1>حالة السكن</h1></center>
    <p><strong>  عدد السكان الاصليين:</strong> {{ sar }}</p>
    <p><strong>عدد  السكان العائدين:</strong> {{ aar }}</p>
    <p><strong>  عدد السكان النازحين:</strong> {{ nar }}</p>
    <hr>

    <center><h1>الذكور</h1></center>
    <p><strong>  عدد الذكورالكلي:</strong> {{ malecountr }}</p>
    <p><strong>عدد الذكورأقل من 6 أشهر:</strong> {{ nummalemin6monthr }}</p>
    <p><strong>عدد الذكور بين 6 و12 شهر:</strong> {{ nummalebet612monthr }}</p>
    <p><strong>عدد الذكور بين 13 و24 شهر:</strong> {{ nummalebet1324monthr }}</p>
    <p><strong>عدد الذكور بين25 و59 شهر:</strong> {{ nummalebet2559monthr }}</p>
    <p><strong> عدد الذكور بين 5 و 18 سنة :</strong> {{ nummalebet518yearr }}</p>
    <p><strong>عدد الذكور فوق18 :</strong> {{ nummaleover18r }}</p>
    <hr>
    <center><h1>الاناث</h1></center>
    <p><strong>  عدد الاناث الكلي:</strong> {{ fmalecountr }}</p>
    <p><strong>عدد الاناث اقل من 6 أشهر:</strong> {{ numfmalemin6monthr }}</p>
    <p><strong>عدد الاناث بين 6 و12 شهر:</strong> {{ numfmalebet612monthr }}</p>
    <p><strong>عدد الاناث بين 13 و24 شهر:</strong> {{ numfmalebet1324monthr }}</p>
    <p><strong>عدد الاناث بين25 و59 شهر:</strong> {{ numfmalebet2559monthr }}</p>
    <p><strong> عدد الاناث بين 5 و 18 سنة :</strong> {{ numfmalebet518yearr }}</p>
    <p><strong>عدد الاناث فوق18 :</strong> {{ numfmaleover18r }}</p>
    <hr>
    <center><h1>الرسائل</h1></center>

    <p><strong> تغذية الرضع :</strong> {{ m1r }}</p>
    <p><strong> تغذية الأطفال الصغار :</strong> {{ m2r }}</p>
    <p><strong>  الغذاء الصحي:</strong> {{ m3r }}</p>
    <p><strong> تغذية الحامل والمرضع :</strong> {{ m4r }}</p>
    <p><strong> الصحة الإنجابية والحماية :</strong> {{ m5r }}</p>
    <p><strong> الامراض المنتقلة :</strong> {{ m6r }}</p>
    <p><strong> كورونا :</strong> {{ m7r }}</p>
    <p><strong> رعاية معاقين :</strong> {{ m8r }}</p>
    <p><strong>  الامراض غير المنتقلة:</strong> {{ m9r }}</p>
    <hr>
    <center><h1>الإعاقة</h1></center>
    <p><strong>   عدد حالات الإعاقة:</strong> {{ ear }}</p>

    <hr>
    <center><h1>الحوامل والمرضعات</h1></center>
    <p><strong>  عدد الحوامل:</strong> {{ har }}</p>
    <p><strong>  عدد المرضعات:</strong> {{ mor }}</p>

    


    
</div>


{% endblock body %}