{% extends "base.html" %}
{% block body %}




<div  >
    
    <center><div class="eaa-form">
        <form action="/eaa" method="post">
            
                
                
                <input type='radio' name='ak' value='نعم' >نعم</br>
                
                <input type='radio' name='ak' value='لا'>لا
                </br>
                
                 
                

                
        
            
        </br> <button type="submit"> التالي</button>
                
            
        </form>
    </div></center>
    
    
</div>



{% endblock body %}



