{% extends "base.html" %}
{% block body %}




<div  >
    <center><div class="family-form">
        <form action="/family" method="post">
            
                
                
                <input type='radio' name='a2' value='ذكر' >ذكر</br>
                
                <input type='radio' name='a2' value='أنثى'>أنثى
                </br>
                <input type='text' name='year' placeholder='السنة' required></br>
                <input type='text' name='month' placeholder='الشهر' ></br>
                <input type='text' name='day' placeholder='اليوم' ></br>

                 
                

                
        
            
        </br> <button type="submit"> التالي</button>
                
            
        </form>
    </div></center>
    
    
</div>



{% endblock body %}



