{% extends "base.html" %}
{% block body %}




<div  >
    
    <center><div class="hamo-form">
        <form action="/hamo" method="post">
            
                
                
                <input type='radio' name='p1' value='حامل' >حامل</br>
                
                <input type='radio' name='p1' value='مرضع'>مرضع
                </br>
                
                 
                

                
        
            
        </br> <button type="submit"> التالي</button>
                
            
        </form>
    </div></center>
    
    
</div>



{% endblock body %}



