
{% extends "base.html" %}
{% block body %}




<div  >
    
    <center><div class="messages-div">
        <form action="/messages" method="post">
            
                
                
                <input type='checkbox' name='messages' value='تغذية الرضع' >تغذية الرضع'</br>
                <input type='checkbox' name='messages' value='تغذية الاطفال الصفار' >تغذية الاطفال الصفار'</br>
                <input type='checkbox' name='messages' value='الغذاء الصحي' >الغذاء الصحي'</br>
                <input type='checkbox' name='messages' value='تغذية الحامل والمرضع' >تغذية الحامل والمرضع</br>
                <input type='checkbox' name='messages' value=' الصحة الانجابية والحماية' > الصحة الانجابية والحماية</br>
                <input type='checkbox' name='messages' value=' الامراض المنتقلة' > الامراض المنتقلة</br>
                <input type='checkbox' name='messages' value='كورونا' >كورونا</br>
                <input type='checkbox' name='messages' value='رعاية المعاقين' >رعاية المعاقين</br>
                <input type='checkbox' name='messages' value=' الامراض غير المنتقلة' >الامراض غير المنتقلة </br>

                 
                

                
        
            
        </br> <button type="submit"> التالي</button>
                
            
        </form>
    </div></center>
    
    
</div>



{% endblock body %}










