{% extends "base.html" %}
{% block body %}




<div  >
    
    <center><div class="state-form">
        <form action="/start" method="post">
            
                
                <h2>حالة السكن</h2>
                <select name="state" >
                    <option value="f"  selected> </option>

                    <option value="سكان أصليين" >سكان أصليين</option>
                    <option value="نازحين">نازحين</option>
                    <option value="نازحين">عائدين</option>

                </select>
                <hr>
                <h2> الأفراد</h2>
                <div class="repet">
                <select name="k1">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year1' placeholder='السنة' >
                <input type='text' name='month1' placeholder='الشهر' >
                <input type='text' name='day1' placeholder='اليوم' ><br>


                <select name="k2">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year2' placeholder='السنة' >
                <input type='text' name='month2' placeholder='الشهر' >
                <input type='text' name='day2' placeholder='اليوم' ><br>

                <select name="k3">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year3' placeholder='السنة' >
                <input type='text' name='month3' placeholder='الشهر' >
                <input type='text' name='day3' placeholder='اليوم' ><br>

                <select name="k4">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year4' placeholder='السنة' >
                <input type='text' name='month4' placeholder='الشهر' >
                <input type='text' name='day4' placeholder='اليوم' ><br>

                <select name="k5">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year5' placeholder='السنة' >
                <input type='text' name='month5' placeholder='الشهر' >
                <input type='text' name='day5' placeholder='اليوم' ><br>

                <select name="k6">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year6' placeholder='السنة' >
                <input type='text' name='month6' placeholder='الشهر' >
                <input type='text' name='day6' placeholder='اليوم' ><br>
                <select name="k7">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year7' placeholder='السنة' >
                <input type='text' name='month7' placeholder='الشهر' >
                <input type='text' name='day7' placeholder='اليوم' ><br>
                <select name="k8">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year8' placeholder='السنة' >
                <input type='text' name='month8' placeholder='الشهر' >
                <input type='text' name='day8' placeholder='اليوم' ><br>
                <select name="k9">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year9' placeholder='السنة' >
                <input type='text' name='month9' placeholder='الشهر' >
                <input type='text' name='day9' placeholder='اليوم' ><br>
                <select name="k10">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year10' placeholder='السنة' >
                <input type='text' name='month10' placeholder='الشهر' >
                <input type='text' name='day10' placeholder='اليوم' ><br>
                <select name="k11">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year11' placeholder='السنة' >
                <input type='text' name='month11' placeholder='الشهر' >
                <input type='text' name='day11' placeholder='اليوم' ><br>
                <select name="k12">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year12' placeholder='السنة' >
                <input type='text' name='month12' placeholder='الشهر' >
                <input type='text' name='day12' placeholder='اليوم' ><br>
                <select name="k13">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year13' placeholder='السنة' >
                <input type='text' name='month13' placeholder='الشهر' >
                <input type='text' name='day13' placeholder='اليوم' ><br>
                <select name="k14">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year14' placeholder='السنة' >
                <input type='text' name='month14' placeholder='الشهر' >
                <input type='text' name='day14' placeholder='اليوم' ><br>
                <select name="k15">
                    <option value="f"  selected> الجنس</option>
                    <option value="ذكر" >ذكر</option>
                    <option value="إنثى">أنثى</option>
                    

                </select>
                <input type='text' name='year15' placeholder='السنة' >
                <input type='text' name='month15' placeholder='الشهر' >
                <input type='text' name='day15' placeholder='اليوم' ><br>

            </div>
        <hr>
                <h2> الحوامل والمرضعات</h2>
                <lable>عدد الحوامل</lable>
                <input type="number" name='ha'value=0  ><br><br>
                <lable>عدد المرضعات</lable>
                <input type='number' name='mo' value=0 >
        <hr>

                <h2>الإعاقة</h2>
                <lable>عدد حالات الإعاقة</lable>
                <input type='number' name='ea' value=0 >
        <hr>
                
                
                <h2>MUAC</h2>
                <lable>أطفال ذكور</lable>
                <input type='number' name='mma' value=0 ><br><br>
                <lable>أطفال إناث</lable>
                <input type='number' name='mfam' value=0 >
        <hr>
                <h2>الرسائل</h2>
                <div class="mess">
                    <input type='checkbox' name='messages' value='تغذية الرضع' >تغذية الرضع</br>
                    <input type='checkbox' name='messages' value='تغذية الاطفال الصفار' >تغذية الاطفال الصفار</br>
                    <input type='checkbox' name='messages' value='الغذاء الصحي' >الغذاء الصحي</br>
                    <input type='checkbox' name='messages' value='تغذية الحامل والمرضع' >تغذية الحامل والمرضع</br>
                    <input type='checkbox' name='messages' value=' الصحة الانجابية والحماية' > الصحة الانجابية والحماية</br>
                    <input type='checkbox' name='messages' value=' الامراض المنتقلة' > الامراض المنتقلة</br>
                    <input type='checkbox' name='messages' value='كورونا' >كورونا</br>
                    <input type='checkbox' name='messages' value='رعاية المعاقين' >رعاية المعاقين</br>
                    <input type='checkbox' name='messages' value=' الامراض غير المنتقلة' >الامراض غير المنتقلة 

                </div>

                
                

                 
                

                
        
            
        </br> <button type="submit"> الأسرة التالية</button>
                
            
        </form>
    </div></center>
    
    
</div>



{% endblock body %}



