{% extends "base.html" %}
{% block body %}




<div  >
    
    <center><div class="state-form">
        <form action="/state" method="post">
            
                
                
                <input type='radio' name='st1' value='سكان أصليين' >سكان أصليين</br>
                <input type='radio' name='st1' value='عائدين'>عائدين</br>
                <input type='radio' name='st1' value='نازحين'>نازحين
                </br>
                
                 
                

                
        
            
        </br> <button type="submit"> التالي</button>
                
            
        </form>
    </div></center>
    
    
</div>



{% endblock body %}



